*{
  margin: 0;
  padding: 0;
}
div {
  width: 100%;
}
body{
  background-color: rgb(228, 220, 220) !important;
}
#nav-bar{
  background-color: orange;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
}
#header{
  width: 70%;
  margin-left: 15%;
  margin-top: 61px;
  display: flex;
}
#banner-img{
  position: relative;
  width: 262px;
  height: 350px;
  background-color: black;
  overflow: hidden;
}
#slides-container{
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  display: flex;
  width: 700px;
  height: 350px;
  overflow: hidden;
}
#body {
  background-color: white;
  height: 165em;
  width: 70%;
  margin-left: 15%;
}
#footer{
  position: relative;
  height: 20em;
  background-color: black;
}
#bg-img{
  height: 100%;
  background-image: url("https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/115211109/original/3e0a5f0989a6fc86fe234e4237cbe0d186307b0f/anime-banner-or-wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}
#infor-footer{
  display: flex;
  position: absolute;
  top: 5px;
  left: 20px;
}
#infor-footer img{
  margin-right: 10px;
}