#body{
    margin-top: 5em;
}
#page{
    width: 100%;
}
#page ul{
    display: inline-flex;
}
#page ul li a{
    text-decoration: none;
    color: black;
}
#page ul li{
    padding: 9px 10px;
    border: 1px solid blue;
    list-style: none;
}
#page ul li:hover{
    background-color: orange;
}
